<style type="text/css" media="screen">
  html {
    margin: 0;
    padding: 0;
    border: 0;
  }
  a {
      font-weight: 400;
      color: #1e2440;
      text-decoration: none;
      background: #f04a57;
      display: block;
      margin: auto;
      margin-top: 1rem;
      max-width: 200px;
      font-style: normal;
      padding: 13px 30px 9px;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #f04a57;
      border-radius: 2px;
      box-sizing: border-box;
      user-select: none;
      text-transform: uppercase;
    }
  body {
      background: #1e2440;
      color: #000;
      font-family: "Georgia, Helvetica, sans-serif";
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30rem;
    }
  
  div {
    padding: 54px;
    background-color: #FFFFFF;
    border: 1px solid #e9ecef;
    box-shadow: 1px 1px 6px #e9ecef;
  }
  h1 {
    font-weight: 200;
  }
</style>

<div>
  <h1>Traillo</h1>
  <p>Hi <%= @user.username.capitalize %>,</p>
  <p>Welcome to the Traillo. Click the link below to activate your account.</p>
  <%= link_to "Activate", activate_url(@user.activation_token, email: @user.email) %>
</div>
