// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// internal header

$default-blue: rgb(0, 121, 191);
$white: #FFF;

.btn__internal {
  background: hsla(0,0%,100%,.3) !important;
  color: #f3f3f3 !important;
  border-radius: 3px !important;
}

.btn__internal:active, .btn__internal:focus {
  outline: none !important;
}

.navbar {
  padding: 0.25rem 1rem !important;
}

.profile-pic {
  border-radius: 50% !important;
  border: 0 !important;
}

.profile-pic-image {
  height: 30px;
  width: 30px;
  border-radius: 25em;
}

#logo-internal {
  width: 4rem;
}

input[type=text].header-search-input:hover {
  background-color: hsla(0,0%,100%,.4);
}

input[type=text].header-search-input {
  background-color: hsla(0,0%,100%,.3);
  border-radius: 3px;
  border: none;
  color: hsla(0,0%,100%,.5);
  font-size: 13px;
  height: 30px;
  min-height: 30.1px;
  line-height: 19px;
  -webkit-transition: width .15s;
  transition: width .15s;
  width: 180px;
  z-index: 1;
}

input[type=text].header-search-input:focus {
  background-color: #edeff0;
  color: #000;
}

.dashboard-wrapper {
  padding: 20px 16px 0;
}

.dashboard-header {
  font-weight: 900;
}

.project-name {
  display: inline-block;
  overflow: hidden;
  max-height: 40px;
}

.project-board {
  display: inline-block;
  background: $default-blue;
  min-height: 6rem !important;
  border-radius: 3px;
  color: $white;
  background-size: cover;
  background-position: 50%;
  line-height: 20px;
  text-decoration: none;
  padding: 8px;
  opacity: .9;
}

.project-board:hover {
  text-decoration: none;
  color: $white;
  opacity: 1;
}

#board-dropdown > div {
  height: 93vh;
  top: 40px;
  overflow: scroll !important;
  z-index: 1;
  background: $white;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.4);
  box-shadow: 0 3px 6px rgba(0,0,0,.4);
  border-radius: 0 3px 3px 0;
  overflow: hidden;
  position: fixed;
  width: 280px !important;
}

@media(max-width: 768px) {
  #board-dropdown > div {
    top: 60px;
    height: 92vh;
  }
}

.section-title {
  font-weight: 700;
}

.board-dropdown-search-input {
  background-color: #e2e4e6 !important;
  border: 1px solid #cdd2d4 !important;
  outline: none !important;
}

.board-dropdown-search-input:focus, .board-dropdown-search-input:active {
  background: $white !important;
  box-shadow: unset !important;
  border-color: $default-blue !important;
}

.board-dropdown-section {
  line-height: 18px;
  font-weight: 400;
  font-size: 14px;
}

.fa-minus{
  border-radius: 3px;
  padding: 6px;
  position: absolute;
  top: 13px;
  right: -12px;
}

.board-dropdown-projects {
  list-style-type: none;
  padding: 0;
  line-height: 18px;
  font-weight: 400;
  font-size: 14px;
}

.dropdown-project {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0 4px 4px 0;
}

.dropdown-project-background {
  background-size: cover;
  background-position: 50%;
  background-color: $default-blue;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.dropdown-project-link {
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  height: 36px;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: #444;
  background-color: transparent;
}

.dropdown-project-link:hover {
  text-decoration: none;
  color: #444;
}

.dropdown-project-link-thumbnail {
  webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-size: cover;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: 36px;
  opacity: .7;
  background-color: $default-blue;
  width: 36px;
}

.dropdown-project-link-thumbnail:hover {
  opacity: 1;
}

.dropdown-project-link-text-detail {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 9px 0 9px 10px;
}

.dropdown-project-link-text-detail-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.compact-board-tile-fade {
  background: hsla(0,0%,100%,.88);
}

.compact-board-tile-fade {
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
}

#create-dropdown, #info-dropdown, #profile-dropdown {
  width: 300px;
  z-index: 70;
  position: fixed;
  right: 3px;
  background: $white;
  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  font-size: 14px;
}

.create-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .sub-name {
    font-size: 13px;
    font-weight: 900;
  }

  .sub-desc {
    color: #838c91;
  }
}

.create-dropdown-list-item {
  color: #444;
}

.create-dropdown-list-item:hover {
  background-color: $default-blue;
  color: $white !important;
  cursor: pointer;

  .sub-desc {
    color: inherit;
  }
}

.info-image {
  border-radius: 3px;
  width: 270px;
  height: 235px;
}

#notification-dropdown {
  right: 0;
  position: fixed;
  border-radius: 3px;
  width: 450px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  background-color: #edeff0;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  font-size: 14px;
}

.profile-link:hover {
  text-decoration: none;
}

.modal-content {
  border-radius: 3px;
}

.create-modal-form {
  border-radius: 3px;
  box-sizing: border-box;
  background-size: cover;
  background-position: 50%;
}

.create-modal-background {
  border-radius: 3px !important;
}

.board-name {
  background: transparent !important;
  border: none !important;
  color: white !important;
}

input[type=text].board-name:focus {
  box-shadow: unset !important;
  background: #e2e4e659 !important;
}

input[type=text].board-name:hover {
  box-shadow: unset !important;
  background: #e2e4e659 !important;
}

input[type=text].board-name::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input[type=text].board-name:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

input[type=text].board-name::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.background-grid {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  display: flex;
  padding-left: 0px !important;
}

.background-grid-item {
  height: 28px;
    width: 28px;
    margin-bottom: 6px;
}

.background-grid-trigger {
  background: none;
  background-color: $white;
  background-position: 50%;
  background-size: cover;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0,0,0,.4);
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 0;
  padding: 0;
  position: relative;
  line-height: 0;
  width: 100%;
  cursor: pointer;
  background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/d84b3c6b1f07d701acb1a153002f7e6a/usecases-bg.jpg);
  border: 0;
}

.btn-success:disabled {
  color: #6c757d !important;
  background-color: #f8f9fa !important;
  border-color: none;
}

.board-access-popover{
  display: flex !important;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  min-height: 0;
  padding: 2px 8px !important;
  text-align: left !important;
}

.board-access-popover:hover {
  background: hsla(0,0%,100%,.15) !important;
}

.access-popover {
  border-radius: 3px !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.access-ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.access-lists {
  cursor: pointer;

  span {
    font-size: 13px;
    font-weight: 900;
  }

  small {
    color: #838c91;
    line-height: 1.1;
    font-size: 0.7rem;
  }
}

.access-lists:hover {
  background-color: $default-blue;
  color: $white !important;
  cursor: pointer;

  small {
    color: inherit;
  }
}

.access-popover-div {
  border-radius: 3px !important;
  top: 4.4rem;
  z-index: 1;
}

.access-list-header {
  display: flex !important;
  align-items: center;
}

.create-board-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.create-board-card:focus {
  outline: none;
}

.create-board-card .project-name {
  font-size: 0.8rem;
  color: #4d4d4d;
  font-weight: 900;
}

.project-page {
  height: 100vh !important;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.project-page__board-name {
  font-weight: 900;
  color: $white;
}

.project-page__fav-icon {
  cursor: pointer;
}

.board-header-btn-divider {
  border-left: 1px solid hsla(0,0%,100%,.2);
  margin: 0 1rem;
}

.board-canvas {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100vh;
}

#board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  // position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list-wrapper:first-child {
  margin-left: 10px;
}

.list-wrapper {
  width: 270px;
  margin: 0 5px;
  height: 80vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list-content {
  background: #e2e4e6;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
  cursor: pointer;
}

.list-header-name {
  font-size: 0.9rem;
  font-weight: 900;
  color: #333;
}

.list-cards {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}

.list-card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  color: #444;
}

.list-card:hover {
  text-decoration: none;
  background: #ced4da;
}

.list-card-details {
  overflow: hidden;
  padding: 6px 6px 2px 8px;
  position: relative;
  z-index: 10;
}

.list-card-title {
  clear: both;
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #4d4d4d;
  font-size: 0.85rem;
}

.badge {
  border-radius: 3px;
  color: #999;
}

.badge.is-complete {
  background-color: #61bd4f;
  color: #fff;
}

.badge-text {
  font-size: 12px;
  padding: 0 2px;
  white-space: nowrap;
}

.open-card-composer {
  border-radius: 0 0 3px 3px;
  color: #838c91;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.85rem;
}

.open-card-composer:hover {
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}
.add-list-input {
  background: rgba(0,0,0,.12) !important;
  border: none !important;
  color: $white !important
}

input[type=text].add-list-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $white;
  opacity: 1; /* Firefox */
  font-size: 0.85rem;
}

input[type=text].add-list-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $white;
  font-size: 0.85rem;
}

input[type=text].add-list-input::-ms-input-placeholder { /* Microsoft Edge */
  color: $white;
  font-size: 0.85rem;
}

.list-wrapper.mod-add .placeholder {
  display: none;
  padding: 7px;
  color: hsla(0,0%,100%,.7);
  -webkit-transition: color 85ms ease-in;
  transition: color 85ms ease-in;
}

#add-list-wrapper.focused {
  border-radius: 3px;
  background-color: #e2e4e6 !important;
  height: auto;

  .add-list-input {
    color: #333 !important;
    background: rgba(0,0,0,.05);
    border-color: #aaa;
    webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
    box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
  }

  input[type=text].add-list-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333;
    opacity: 1; /* Firefox */
  }
  
  input[type=text].add-list-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
  }
  
  input[type=text].add-list-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
  }
}
