// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo {
  width: 7rem;
}

.home-hero {
  background: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/d84b3c6b1f07d701acb1a153002f7e6a/usecases-bg.jpg) center left / cover no-repeat #0079bf;
  color: #FFFFFF;
  height: 100vh;
}

.home-hero-link, .home-hero-link:hover, .home-hero-link:active {
  color: #FFFFFF;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .home-hero {
    padding: 7rem 2rem !important;
  }
}

.button__external {
  box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  border: 0 !important;
  border-radius: .4em !important;
}

.button__external-primary {
  background-color: rgba(0,0,0,0.15) !important;
}

.btn {
  box-shadow: unset !important;
}
