// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper__external {
  padding: 4em 1em;
}

.signup-container {
  max-width: 450px;
  margin: 0 auto;
}

.signup-form-container {
  //
}

.button__auth {
  font-size: 1.2rem !important;
}

.auth-link {
  text-decoration: underline;
  color: #298fca;
}

.auth-link:hover, .auth-link:active {
  color: #0c3953;
}

#snackbar {
  visibility: hidden;
  min-width: 100vw;
  max-width: 100vw;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.2rem;
  position: fixed;
  z-index: 1;
  font-size: 0.9rem;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.activation-page {
  background: #315989;
  height: 100vh;
  color: #fff;
}

.password-reset-container {
  max-width: 585px;
  margin: 0 auto;
}

// internal header

.btn__internal {
  background: hsla(0,0%,100%,.3) !important;
  color: #f3f3f3 !important;
  border-radius: 3px !important;
}

.btn__internal:active, .btn__internal:focus {
  outline: none !important;
}

.navbar {
  padding: 0.25rem 1rem !important;
}

.profile-pic {
  border-radius: 50% !important;
}

#logo-internal {
  width: 4rem;
}

input[type=text].header-search-input:hover {
  background-color: hsla(0,0%,100%,.4);
}

input[type=text].header-search-input {
  background-color: hsla(0,0%,100%,.3);
  border-radius: 3px;
  border: none;
  color: hsla(0,0%,100%,.5);
  font-size: 13px;
  height: 30px;
  min-height: 30.1px;
  line-height: 19px;
  -webkit-transition: width .15s;
  transition: width .15s;
  width: 180px;
  z-index: 1;
}

input[type=text].header-search-input:focus {
  background-color: #edeff0;
  color: #000;
}
